body {
    background-color: rgb(37, 37, 37);
    font-family: Consolas, Arial, Helvetica, sans-serif;

    /*literally dont know why its not yellow*/
    .heading  {
       text-align: center;
       background-color: rgb(139, 139, 139);
    }

    p {
        line-height: 25px;
    }

    .tab {
        overflow: hidden;
        background-color: rgb(60, 124, 55);
        border: rgb(7, 32, 16);
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        background-color: rgb(40, 83, 37);
    }

    .tab button.active {
        background-color: rgb(31, 59, 29);
    }

    .tabcontent {
        /*Hides content upon launch*/ 
        display: none;
        padding: 16px 12px;
        border: 1px solid #686868;
        background-color: #a2a2a2;
    }
    .searchbar {
        display: inline-block;
        position: relative;
        left: 650px;
        width: 30%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .searchbartext {
        margin: auto;
        vertical-align: baseline;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border: 2px solid #686868;
    }

    .genInfo {
        width: 30%;
        display: inline-block;
        background-color: rgb(60, 124, 55);
        vertical-align: top;
        padding: 16px 16px 16px 16px;
        margin: 20px 20px 100px 140px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .btngen {
        padding: 10px 10px 10px 10px;
        margin: 30px 50px 30px 60px;
    }

    .modalcontent {
        display: none;
        position: fixed;
        left: 250px;
        top: 250px;
        z-index: 2;
        width: 60%;
        padding: 50px;
        background-color: #fefefe;
        border: 1px solid #888;
        margin: auto;
 
    }
}