body {
    background-color: rgb(235, 232, 232);
    font-family: Arial, Helvetica, sans-serif;

    /*literally dont know why its not yellow*/
    .heading  {
       text-align: center;
    }

    .tab {
        overflow: hidden;
        background-color: rgb(60, 124, 55);
        border: rgb(7, 32, 16);
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        background-color: rgb(40, 83, 37);
    }

    .tab button.active {
        background-color: rgb(40, 83, 37);
    }

    .tabcontent {
        /*Hides content upon launch*/ 
        display: none;
    }
    .searchbar {
        display: inline-block;
        position: fixed;
        right: 40px;
        width: 30%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .searchbartext {
        margin: auto;
        vertical-align: baseline;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border: 2px solid #686868;
    }
}
